.layout-topbar-teal {
    --topbar-bg: #20c997;
    --topbar-menu-button-bg: #212529;
    --topbar-menu-button-text-color: #20c997;
    --topbar-item-text-color: #212529;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.16);
    --topbar-border-color: #20c997;
}
