.layout-topbar-green {
    --topbar-bg: #198754;
    --topbar-menu-button-bg: #ffffff;
    --topbar-menu-button-text-color: #198754;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.16);
    --topbar-border-color: #198754;
}
